:root {
    --primary-color: #ffffff;
    --background-color: #333;
    --overlay-color: rgba(0, 0, 0, 0.8);
    --border-radius: 20px;
    --transition-speed: 0.6s;
    --font-family: 'Baloo 2', cursive, sans-serif;
}

html, body {
    height: 100%;
    font-family: var(--font-family);
    color: var(--primary-color);
    background-image: url('/data/para1.jpg');
    background-size : cover;
    background-position: center;
    overflow: hidden;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow-x: hidden; /* Cache la barre de défilement horizontale */
    height: 100vh; /* Pour que chaque section occupe toute la hauteur de la fenêtre */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Le défilement est fluide */
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(33, 33, 33, 0.7);
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

header p {
    font-size: 1.2em;
    margin: 5px 0;
}

.nav-buttons {
    margin-top: 15px;
}

.nav-buttons a {
    background-color: #555;
    color: var(--primary-color);
    padding: 8px 15px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
    background-color: #777;
}

.container {
    padding-top: 80px; 
    padding-bottom: 50px; 
}

.section-parallax {
    scroll-snap-align: start; /* Aligne chaque section avec le début de la vue */
    flex: 0 0 100vw; /* Chaque section occupe 100% de la largeur de la fenêtre */
    height: 100vh; /* Et 100% de la hauteur de la fenêtre */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    background-color: var(--overlay-color);
    padding: 20px 30px;
    border-radius: var(--border-radius);
    border: 3px dashed var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-color);
    transform: translateY(50px);
    transition: opacity var(--transition-speed) ease-in-out, transform var(--transition-speed) ease-in-out;
    overflow: hidden;
}

.content::before, .content::after { /* Chaque sphères dans les coins */
    content: "";
    position: absolute;
    border-radius: 50%;
    background: var(--primary-color);
    width: 100px;
    height: 100px;
    opacity: 0.7;
    z-index: -1;
}

.content::before {
    top: -50px;
    left: -50px;
}

.content::after {
    bottom: -50px;
    right: -50px;
}

h1, h2, th, td{
    font-family: 'Arial', cursive, sans-serif;
}

a {
    color: violet;
}

.volume-control-container {
    position: absolute;
    top: 3%;
    right: 1%;
    background-color: rgba(33, 33, 33, 0);
    border-radius: 5px;
    font-size: 0.8em;
}

#volume-control {
    width: 50%;
}

label {
    margin-right: 5px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header p,
    footer {
        font-size: 1em;
    }

    h2 {
        font-size: 1.5em;
    }

    .container {
        padding: 0 15px;
    }

    .section-parallax {
        padding: 30px 15px;
    }

    .content {
        padding: 15px;
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.2em;
    }
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

main {
    display: flex;
    flex-direction: row;
    width: 100%; /* S'assure que le conteneur principal occupe 100% de la largeur de la fenêtre */
    scroll-snap-type: x mandatory; /* Le défilement s'arrête au début de chaque section */
    scroll-behavior: smooth; /* Le défilement est fluide */
}

.multi-columns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.column {
    flex: 1;
}

.column h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-align: center;
}

.column ul {
    padding-left: 0;
    margin: 0;
}

.column li {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
    text-align: center;
}

/* .bouton-cv {
    padding: 10px 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.bouton-cv{
    background-color: #555;
    color: var(--primary-color);
    padding: 8px 15px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}